name: Test no changes
on:
  #  # Uncomment when test added first time to register workflow and comment it back after workflow would be registered
  #  #
  #  # Added pull_request to register workflow from the PR.
  #  # Read more https://stackoverflow.com/questions/63362126/github-actions-how-to-run-a-workflow-created-on-a-non-master-branch-from-the-wo
  # pull_request: {}
  workflow_dispatch: {}

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: echo "Do setup"

  test:
    runs-on: ubuntu-latest
    needs: [setup]
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./
        id: current
        with:
          iam-auth-enabled: false
          install-atmos: true
          atmos-config-path: "./tests"

    outputs:
      affected: "${{ steps.current.outputs.affected }}"
      has-affected-stacks: "${{ steps.current.outputs.has-affected-stacks }}"
      matrix: "${{ steps.current.outputs.matrix }}"

  assert:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: nick-fields/assert-action@v2
        with:
          expected: '[]'
          actual: "${{ needs.test.outputs.affected }}"

      - uses: nick-fields/assert-action@v2
        with:
          expected: 'false'
          actual: "${{ needs.test.outputs.has-affected-stacks }}"
